
/*
black: #191919
yellow: #FED600
navy: #052465
gold: #FDB501
blue: #1B3B80

*/

/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }


h1,h2,h3,h4,h5,h6 {
    font-family: "Fluence";
}
h1 {
    font-size: 36px;
    color:#00d0ff;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }

body{
    font-family:"Avenir";
    background-color:#000000;
    padding:0;
    margin:0;
}

p,
label{
    font-family:"Baskerville";
    color:#FDB501;

}


.CLG-center{
    text-align:center;
}
.CLG-position-center{
    display:flex;
    justify-content: center;
}
.CLG-sidebar{
    height: 100%;
    background-color: #02102f;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.CLG-input-small{
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #191919;
    width: 100%;
    height:50px;
    background-color: #191919;
    color:#FED600;
}

.CLG-navy,
.CLG-hover-navy:hover{
    background-color: #052465;
}
.CLG-yellow,
.CLG-hover-yellow:hover{
    background-color:#FED600;
}
.CLG-gold,
.CLG-hover-gold:hover{
    background-color:#FDB501;
}
.CLG-blue,
.CLG-hover-blue:hover{
    background-color:#1B3B80;
}
.CLG-dark-navy,
.CLG-hover-dark-davy:hover{
 background-color: #02102f;
}
.CLG-black,
.CLG-hover-black:hover{
    background-color:#000000;
}
.CLG-text-cyan{
    color:cyan;
}


.CLG-text-navy{
    color: #052465;
}
.CLG-text-yellow{
    color:#FED600;
}
.CLG-text-gold{
    color:#FDB501;
}
.CLG-text-blue{
    color:#1B3B80;
}
.CLG-text-black{
    color:#191919;
}
.CLG-text-cyan{
    color:cyan;
}


.CLG-large{
    font-size:18px !important;
}

.CLG-medium{
    font-size:15px !important;
    
}

.CLG-small{
    font-size:12px !important;
}

.CLG-xlarge{
    font-size:24px !important;
}

.CLG-xxlarge{
    font-size:36px !important;
}

.CLG-xxxlarge{
    font-size:48px !important;
}
.CLG-superlarge{
    font-size:64px !important;
}


.CLG-padding-small {
    padding: 4px 8px !important;
  }
  .CLG-padding {
    padding: 8px 16px !important;
  }
  .CLG-padding-large {
    padding: 12px 24px !important;
  }
  .CLG-padding-16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
  }
  .CLG-padding-24 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
  .CLG-padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
  }
  .CLG-padding-48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
  }
  .CLG-padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
  }
  .CLG-button{
    border: none;
    display: inline-block;
    width:140px;
    height:100px;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
  }
  .CLG-submit{
    border-width: 2px;
    display: inline-block;
    width:140px;
    height:87px;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color:#FDB501;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-color:#FED600;

  }

  .CLG-margin {
    margin: 16px !important;
  }
  .CLG-margin-top {
    margin-top: 16px !important;
  }
  .CLG-margin-bottom {
    margin-bottom: 16px !important;
  }
  .CLG-margin-left {
    margin-left: 16px !important;
  }
  .CLG-margin-right {
    margin-right: 16px !important;
  }
  .CLG-bar-item{
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
  }
  .CLG-bar-block{
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
  }
  .CLG-container{
    padding: 0.01em 16px;
  }

  .CLG-title{
    margin-left:150px
  }
  .CLG-half {
    width:48%;
    display:inline-block;
  }